body{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 80%;

}

.header{
    color: indianred;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-weight: 700;
}

.firstDiv{
    margin: 0 auto;
    color: white;
    background-color: indianred;
    padding: 30px;
    margin-bottom: 30px;
}

.macedonia{
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: xx-large;
    margin: 30xp;
    padding: 20px;
}

.macedoniaNumbers{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.macedoniaNumbers.div{
    display: inline-flex;
    text-align: center;
    margin: 0 auto;
}

.navs{
    font-weight: 700;
    font-size: 20px;
    color: indianred;
    margin-left: 20px;
}


.simptomiTekst{
    color: indianred;
    margin-left: 20px;
}

.preporaka{
    color: indianred;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-weight: 700;
}



.merkiZaZastita{
    color: indianred;
    margin-left: 20px;
}


.nav-pills .nav-link.active {
    background-color: indianred !important;
    color: white !important;
}

.nav-pills .nav-link  {
    background-color: white !important;
    color: indianred !important;
}
.video {
    height: 300px;
}