body{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    height: 2000px;
}

.header{
    color: indianred;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-weight: 700;
}

.firstDiv{
    margin: 0 auto;
    color: white;
    background-color: indianred;
    border-radius: 20px;
    padding: 20px;
    
}

.numbersTitle{
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: xx-large;
    margin: 30xp;
    padding: 10px;
}

.navs{
    font-weight: 700;
    font-size: 20px;
    color: indianred;
    margin-left: 20px;
}

.navText{
    color: indianred;
    margin-left: 20px;
}

.prevention{
    color: indianred;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-weight: 700;
}

.nav-pills .nav-link.active {
    background-color: indianred !important;
    color: white !important;
}

.nav-pills .nav-link  {
    background-color: white !important;
    color: indianred !important;
}

.video {
    height: 300px;
}

.numberBorder{
    border:2px white dashed ;
    padding: 10px;
    border-radius: 5px;
    width: 150px;    
    text-align: center;
    margin: 15px;
}

.titleNumber{         
    height: 50px;   
    text-align: center;
}
.question{
    font-weight: 700;
}
.allNumbers{
    font-size: x-large;
    font-weight: 900;
        
}
.picture{
    text-align: center;
    display: block;
    margin: 0 auto;
}

#worldTable tr.tbHeader, #worldTable tr:hover {
    background-color: #dcdcdc;
    color: white;
    font-weight: bold;
}
.tbHeader {
    display:block;
}

#tableBody {
    display:block;
    height:500px;
    width: 100%;
    overflow: auto;
}
#worldTable td, #worldTable th{
    width: 15%;
    vertical-align: middle;
    padding: 5px;
    font-size: large;
    
}
#titlePicture {
    width: 40%;
    margin: 0 auto;
}
.todayTableRow{
    color: indianred;
}
